title: Site for Hugo Theme Claris
baseURL: /

languages:
  en:
    LanguageName: English
    languageCode: en-US
    weight: 1
  de:
    LanguageName: Deutsch
    languageCode: de-CH
    weight: 2

disableAliases: true

# Merge theme config
markup:
  _merge: deep
imaging:
  _merge: deep
security:
  _merge: deep
minify:
  _merge: deep

module:
  imports:
    - path: github.com/simonheimlicher/hugo-claris
