canonicalBaseURL: "https://claris.heimlicher.com/"

website:
  name: Hugo Claris Showcase
  tagline: Fluid portfolio and blog theme
  description: |
    Hugo Claris is a fluid and responsive theme for Hugo, designed for personal
    websites and blogs. It emphasizes readability, accessibility, and
    exceptional typography.
  established: 2016
  profile:
    headline: About Hugo Claris
    text: |
      Hugo Claris is a responsive Hugo theme crafted for personal websites and
      blogs, focusing on readability, accessibility, and exceptional typography.
    link: Hugo Claris
    url: about
  logo:
    src: site-meta/claris-logo.svg
    alt: "Hugo Claris theme logo"

siteAuthor: Simon Heimlicher
authors:
  simon-heimlicher:
    last_name: Heimlicher
    first_name: Simon
    email: AUTHOR_EMAIL
    name: Simon Heimlicher
  hugo-authors:
    last_name: Authors
    first_name: Hugo
    name: Hugo Authors
    profilepage: about

masthead:
  wordmark: Hugo Claris

social:
  twitter:
    id: simonheimlicher
  github:
    id: simonheimlicher
  linkedin:
    id: simonheimlicher
  stackoverflow:
    id: 617559/simon-heimlicher

mainSections:
  - post
  - technology

ephemeralSections:
  - technology

footer:
  section: _footer
  social:
    - linkedin
    - twitter
    - github

sidebarTaxonomies:
  - tags
  - categories

assets:
  styles:
    fonts:
      selfhosted: true
  scripts:
    optional:
      mediumzoom: true

responsive:
  breakpoints:
    width:
      mobile_menu: 56rem

robots:
  index: true
  indeximages: true
  follow: true
